<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <%- include('partials/nav'); %>
    <h1>Welcome to AURA</h1>
    <p>Account Can not be found</p>
    <p>Try Registering</p>
  </body>
</html>
